/* id only selectors*/
#blog-sidebar
{
    width: 220px;
    height: 100vh;
    padding-top: 20px;

    background-color: #eee;
}

#domain
{
    font-family: Arial;
    font-size: 20pt;
    font-weight: 600;
    margin-left: 30%;
    margin-right: 10%;
}


#login-btn,
#cancel-btn
{
    width: 137px;
}

#login-hr
{
    width: 300px;
}

html, body
{
    overflow: auto;
}

/* regular selectors */
div.content
{
    padding-top: 70px;
    padding-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
}

@media only screen and (max-width:600px)
{
    #domain
    {
        font-family: Arial;
        font-size: 1.8em;
        font-weight: 600;
    }

    h1, h2, h3
    {
        font-size: 1.5em;
    }

    div.content 
    {
        font-size: 1.5em;
        max-width: 600px;
        padding-top: 35%;
        padding-left: 2px;
        padding-right: 2px;
    }

}

a.nav-link
{
    margin-right: 5px;
    color: #000000;
    font-family: 'Century Gothic', CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 16pt;
    font-weight: 600;
}

a.nav-link:hover
{
    margin-right: 5px;

    text-decoration: underline;
}

div.col-sm-3 > ul > li > a
{
    font-size: 13pt;
    font-weight: 600;

    padding-top: 25px;

    color: #333;
}

div.col-sm-3 > ul > li > a:hover
{
    font-weight: 600;

    text-decoration: underline;
}

div.admin-login
{
    text-align: center;
}

div.container#main-nav
{
    text-align: left;
    /*	margin-left: auto;
	margin-right: auto;*/
}

div.container#main-footer
{
    margin-right: auto;
    margin-left: auto;
}

div.fm-contents
{
    margin-top: 15px;
}

div.fm-title
{
    margin-top: 15px;
}

div#create-page
{
    margin-right: auto;
    /*text-align: center;*/
    margin-left: auto;
}

div#update-page
{
    margin-right: auto;
    margin-left: auto;
}

div.login-buttons
{
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;

    pointer-events: auto;
}

div.nav-items-whole
{
    margin-left: 30%;
    margin-right: auto;
}

/*div > form.fm-create
{
	margin-left: auto;
	margin-right: auto;
}*/

div > form#update-form
{
    margin-right: auto;
    margin-left: auto;
}

hr.create-title-separator
{
    width: 620px;
    margin-top: 5px;
    margin-left: 0;
}

img
{
	max-height: 100%;
	max-width: 100%;
}

input.form-title
{
    font-size: 16pt;

    width: 620px;

    vertical-align: middle;

    border-width: 0 0 2px 0;
}

nav.navbar > div > ul > li > a
{
    font-family: 'Century Gothic', CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 16pt;
    font-weight: 600;
}

select#id_category
{
    width: 240px;
    height: 25px;
}

table#login-table
{
    margin: 0 auto;
}

table.create-category
{
    margin-top: 10px;
}

table.create-category > td
{
    vertical-align: middle;
}

textarea.form-contents
{
    font-size: 16pt;
}

td.category-label
{
    font-size: 12pt;
}

td.category-dropdown
{
    vertical-align: middle;
}

#admin-btn
{
    margin-left: 40px;
}

#admin-label
{
    margin-left: 20px;
}

#create-btn
{
    margin-right: 5px;
}
