#blog-sidebar
{
	padding-top: 20px;
	width: 220px;
	height: 100vh;
	background-color: #EEEEEE;
}

div.col-sm-3 > ul > li > a
{
	font-size: 13pt;
	padding-top: 25px;
	color: #333333;
	font-weight: 600;
}

div.col-sm-3 > ul > li > a:hover
{
	font-weight: 600;
	text-decoration: underline;
}

#login-btn, #cancel-btn
{
	width: 137px;
}

#login-hr 
{
	width: 300px;
}

div.admin-login
{
	text-align: center;
}

div.container#main-nav
{
	margin-left: 200px;
	margin-right: auto;
}

div.fm-contents
{
	margin-top: 15px;
}

div.fm-title
{
	margin-top: 15px;
}

div#create-page
{
	/*text-align: center;*/
	margin-left: auto;
	margin-right: auto;
}

div#update-page
{
	margin-left: auto;
	margin-right: auto;
}

div.login-buttons
{
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	pointer-events: auto;
}

div#post-content
{
	margin-left: auto;
	margin-right: auto;
}

/*div > form.fm-create
{
	margin-left: auto;
	margin-right: auto;
}*/

div > form#update-form
{
	margin-left: auto;
	margin-right: auto;
}

hr.create-title-separator
{
	margin-left: 0px;
	margin-top: 5px;
	width: 620px;
}

input.form-title
{
	width: 620px;
	font-size: 16pt;
	border-width: 0px 0px 2px 0px;
	vertical-align: middle;
}

select#id_category
{
	width: 240px;
	height: 25px;
}

table#login-table
{
	margin: 0px auto;
}

table.create-category
{
	margin-top: 10px;
}

table.create-category > td
{
	vertical-align: middle;
}

textarea.form-contents
{
	font-size: 16pt;
}

td.category-label
{
	font-size: 12pt;
}

td.category-dropdown
{
	vertical-align: middle;
}

#admin-btn
{
	margin-left: 40px;
}

#admin-label
{
	margin-left: 20px;
}

#create-btn
{
	margin-right: 5px;
}

