{% extends "base.html" %}

{% block body %}
<div class="jumbotron" id="about">
	<h2> Hi, my name is Landon. </h2>
	<p class="lead">
	I'm a software engineer living in Melbourne, Australia. I'm really passionate about software development, especially in Python and Django. 
	</p>

	<hr class="my-4">

	<p>This blog provides tutorials and tips on Python and Django espeically for beginners who are just starting out.</p>

	<p>If you like to get in touch or provide any feedbacks, please email me at <a href="mailto:landonkoo0207@gmail.com">landonkoo0207@gmail.com</a></p>

</div>
{% endblock %}