{% extends "base.html" %}

{% block body %}
<div class="jumbotron" id="contact">
	<h3> Landon Koo </h3>
	<hr class="my-4">
	<p class="lead">
	Email: <a href="mailto:landonkoo0207@gmail.com">landonkoo0207@gmail.com</a>
	</p>
	<p class="lead">
	Twitter<img src="{% static img/twitter-icon.png%}">:<a href="https://twitter.com/LandonKoo">Landon Koo</a>
	</p>
	<p class="lead">
	Twitter: <a href="https://twitter.com/LandonKoo">Landon Koo</a>
	</p>
	<p class="lead">
	LinkedIn: <a href="https://www.linkedin.com/in/landon-koo-4b8148115/">Landon Koo</a>
	</p>
</div>
{% endblock %}