{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}LKTheProgrammer.org - Create a Post {% endblock %}

{% block body %}
	<script>
		function confirmCancel() {
			var ans = confirm("Are you sure to exit? (any unsaved contents will be lost)");
			if (ans === true) {
				location.href="/";
			}
		}
	</script>
	<div id="create-page"> <!-- class="col-sm-9"> -->
		<form action="" method="post" class="fm-create">
			{% csrf_token %}
			{{ form.media }}
			<table class="create-category">
			<tr>
				<td class="category-label">
					Category:
				</td>
				<td class="category-dropdown">
					{{form.category|add_class:'form-control'}}
				</td>
			</tr>
			</table>
			<div class="fm-title">
			{{form.title|add_class:'form-title'|attr:"placeholder:The Post Title Here"}}
			<button class="btn btn-primary" type="submit" id="create-btn">Create</button>
			<button class="btn btn-danger" type="button" tabindex="-1" onclick="confirmCancel();">Cancel</button>
			<!-- <hr class="create-title-separator"> -->
			</div>
			<div class="fm-contents">
			{{form.contents|add_class:'form-contents'}}
			</div>
		</form>
	</div>
{% endblock %} 